html {
    background-image: url(images/background.jpg);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section {
    border-bottom: 0.02rem solid gray;
    margin: 2rem;
}
article {
    margin: 1rem;
}
img {
    margin: 1rem 0 1rem;
}
img.photo {
    width: 14rem;
    border-radius: 10%;
    box-shadow: 0 0 0.5rem 0.5rem rgba(0,0,0,0.75);
}
img.vk:hover {
    outline: 2px solid grey;
}
h1 {
    color: crimson;
    font-style: italic;
}
}
p {
    display: inline;
}
p.name {
    font-size: larger;
    color: crimson;
}
