.wrapper {
    max-width: 75rem;
    margin: 0 auto;
}
.noVisible {
    display:none;
}

body {
    text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: 0.125rem;
    color: #CD6326;
    font-weight: normal;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    line-height: 4.5rem;
    color: #333333;
    font-weight: normal;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6875rem;
    line-height: 2.5rem;
    color: #333333;
    font-weight: normal;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.375rem;
    line-height: 2.25rem;
    color: #F7F7F7;
    font-weight: normal;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #F7F7F7;
}

 header {
    background: #02160b;
    background: url(assets/Fox.jpg) top no-repeat;
    background-size: 90rem;
    min-height: 48.6875rem;
}

main {
    background: #ccc;
}

footer {
    background: #181617;
    background: url(assets/footer.jpg) top no-repeat;
    background-size: 90rem;
    }

/* HEADER-HEAD */
.logo {
    display: flex;
    width: 4.2625rem;
}
.logo > p {
    font-family: 'Roboto', sans-serif;
    color: #F7F7F7;
    font-size: 2rem;
    line-height: 2.1875rem;
    margin-left: 0.9375rem;
}
.logo > img {
    align-self: flex-start;
    margin-top: 1.25rem;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 1.25rem;
    margin-bottom: 5.5625rem;
}
nav ul li {
    margin-left: 2.625rem;
    margin-right: 1.4375rem;
    align-self: center;
}
nav ul li a {
font-family: 'Open Sans', sans-serif;
font-size: 1.4375rem;
line-height: 3.75rem;
color: #F7F7F7;
text-decoration: none;
}
nav ul li a:hover {
    border-bottom: 2px solid #F7F7F7;
}
nav ul li input {
    width: 10rem;
    height: 3.125rem;
    box-sizing: border-box;
    border-radius: 0.3125rem;
    border: 0.125rem solid #CD6326;
    background-color: rgba(204,204,204, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4375rem;
    line-height: 3.75rem;
    color: #F7F7F7;
}

a.signIn {
    font-family: 'Roboto', sans-serif;
    border: 0.125rem solid #CD6326;
    box-sizing: border-box;
    border-radius: 0.3125rem;
    padding: 0.5625rem 1.5rem;
    margin-right: -1.4375rem;
}
a.signIn:hover {
    background: #CD6326;
    border: 0.125rem solid #CD6326;
}
a.signIn:active {
    background: #8F5613;
    border: 0.125rem solid #8F5613;
}

a.search {
    align-self: flex-end;
}
.head {
    display: flex;
    justify-content: space-between;
}

/* HEADER-SURVIVAL */
.survival {
    text-align: left;
}
.survival h1 {
    margin-bottom: 3.125rem;
}
.survival p {
    width: 17.5rem;
    margin-bottom: 4.0625rem;
}
.survival a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4375rem;
    line-height: 1.6875rem;
    color: #F7F7F7;
    text-decoration: none;
    border: 0.125rem solid #CD6326;
    box-sizing: border-box;
    border-radius: 0.3125rem;
    padding: 0.9375rem 2.625rem;
    background: #CD6326;
}
.survival a:hover {
    background: #e39128;
    border: 0.125rem solid #e39128;
}
.survival a:active {
    background: #8F5613;
    border: 0.125rem solid #8F5613;
}

/* MAIN - LATESTARTICLES */

.latestArticles h2 {
    padding-top: 7.625rem;
    margin-top: 0;
    margin-bottom: 1.1875rem;
}

.latestArticles p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #666666;
    margin-top: 0;
    margin-bottom: 7.5rem;
}

/* MAIN - LA - GALERY */

.galery article p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0625rem;
    line-height: 1.6875rem;
    color: #F7F7F7;
}
.galery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
article {
    position: relative;
}

article img {
    width: 18.75rem;
}
article p {
    position: absolute;
    left: 10%;
    right: 10%;
    top:  80.5%;
}
article h4 {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 60%;
}
.galery a.arrow:hover {
    transform: skew(-10deg);
}
.galery a.bounce:hover {
    animation: bounce 1s;
}

/* MAIN - LA - NOTIFIED */

.latestArticles h3 {
    margin-top: 14.71875rem;
}

.latestArticles .email {
    margin-top: 3.6875rem;
    padding-bottom: 14.9375rem;
}

.email input {
    width: 33.75rem;
    height: 3.875rem;
    background-color: rgba(204,204,204, 0);
    border: 0.0625rem solid #666;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4375rem;
    line-height: 1.6875rem;
    color: #666;
    box-sizing: border-box;
    padding-left: 0.9375rem;
}
.email button {
    width: 7.5rem;
    height: 3.875rem;
    background-color: #CD6326;
    border: 0.0625rem solid #CD6326;
    border-radius: 0 0.3125rem 0.3125rem 0;
    box-sizing: border-box;
    position: relative;
    right: 0.3125rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4375rem;
    line-height: 1.6875rem;
    color: #F7F7F7;
}
.email button:hover {
    background: ;
}
.email button:hover {
    background: #e39128;
    border: 0.125rem solid #e39128;
}
.email button:active {
    background: #8F5613;
    border: 0.125rem solid #8F5613;
}

/* FOOTER */
footer .wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 8.1875rem;
    padding-bottom: 8.0625rem;
}

footer .logo {
    flex-grow: 1;
}

footer .navigation {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    align-self: center;
    flex-grow: 3.5;
}
footer .navigation li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4375rem;
    line-height: 3.75rem;
    color: #F7F7F7;
    text-decoration: none;
    margin: 0 2.75rem;
    position: relative;
    left: 1.125rem;
}
footer .navigation li a:hover {
    border-bottom: 2px solid #F7F7F7;
}

footer .socials {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-end;
    align-self: center;
    flex-grow: 1;
}
footer .socials li img{
    margin-left: 1.625rem;
    width: 2.5rem;
}
footer .socials li a img:hover {
    opacity: 0.5;
}